@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body * {
    font-family: "Lato", sans-serif !important;
}

.st-key-container_customer_growth_title,
.st-key-container_customer_growth_trend,
.st-key-container_booking_growth_title {
    background-color: #fefefe;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.3);
}

.st-key-container_customer_growth_map {
    background-color: #fefefe;
    border-radius: 1rem;
    padding:1rem 1rem;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.3);
    height: 579.53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
}

.st-key-container_customer_growth_trend {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.st-key-container_booking_growth_metrics_1,
.st-key-container_booking_growth_metrics_2,
.st-key-container_booking_growth_metrics_3,
.st-key-container_booking_growth_metrics_4,
.st-key-container_booking_growth_metrics_5 {
    background-color: #fefefe;
    border-radius: 1rem;
    /* padding: 0.5rem 0.5rem; */
    padding: 0.5rem 0.5rem;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.st-key-container_booking_growth_metrics_1:hover,
.st-key-container_booking_growth_metrics_2:hover,
.st-key-container_booking_growth_metrics_3:hover,
.st-key-container_booking_growth_metrics_4:hover,
.st-key-container_booking_growth_metrics_5:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 20px 0px rgba(4, 88, 175, 0.4);
}

.st-key-container_booking_growth {
    min-height: 579.53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.st-key-container_booking_growth_metrics {
    gap: 1.4rem;
}

.st-key-container_customer_growth_map_colormap {
    gap: 0.5rem;
}

iframe[title="streamlit_folium.st_folium"] {height: 450px;}